asgiref==3.12.1
brotli==1.2.0
click==8.5.0
Django==6.1.1
django-environ==0.14.0
djangorestframework==3.18.1
gunicorn==26.2.0
h11==0.16.0
psycopg2-binary==2.9.13
sqlparse==0.6.0
tzdata==2026.4
uvicorn==0.53.0
whitenoise==6.12.0
